MONGO_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_PUBLIC_KEY=your_stripe_public_key_here
CLOUDINARY_URL=your_cloudinary_url_here

